.illandril-npc-quick-actions--outer-container:not(.illandril-npc-quick-actions--active) {
  display: none;
}

.illandril-npc-quick-actions--outer-container {
  position: absolute;
  text-align: center;
  pointer-events: none;
}
.illandril-npc-quick-actions--container {
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 4px 8px;
  pointer-events: auto;
  color: #000;
  max-height: 20em;
  overflow-y: auto;
}

.illandril-npc-quick-actions--display-category-header,
.illandril-npc-quick-actions--activation-category-header,
.illandril-npc-quick-actions--spell-sub-category-header {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.illandril-npc-quick-actions--display-category-header::before,
.illandril-npc-quick-actions--activation-category-header::before,
.illandril-npc-quick-actions--spell-sub-category-header::before {
    content: "[-]";
    margin-right: 5px;
    font-weight: normal;
}

.illandril-npc-quick-actions--collapsed > .illandril-npc-quick-actions--display-category-header::before,
.illandril-npc-quick-actions--collapsed > .illandril-npc-quick-actions--activation-category-header::before,
.illandril-npc-quick-actions--collapsed > .illandril-npc-quick-actions--spell-sub-category-header::before {
    content: "[+]";
}

.illandril-npc-quick-actions--collapsed > .illandril-npc-quick-actions--display-category-entries,
.illandril-npc-quick-actions--collapsed > .illandril-npc-quick-actions--activation-category-entries,
.illandril-npc-quick-actions--collapsed > .illandril-npc-quick-actions--spell-sub-category-entries {
    display: none;
}

.illandril-npc-quick-actions--display-category-header {
  font-weight: bold;
  color: rgba(0, 0, 100, 0.9);
}

.illandril-npc-quick-actions--spell-sub-category-header {
  font-weight: bold;
  color: rgba(0, 0, 100, 0.8);
  padding-left: 10px;
}

.illandril-npc-quick-actions--activation-category-header {
  font-weight: bold;
  color: rgba(0, 0, 100, 0.7);
  padding-left: 10px;
}

.illandril-npc-quick-actions--activation-category-wrapper .illandril-npc-quick-actions--spell-sub-category-wrapper {
  padding-left: 10px;
}

.illandril-npc-quick-actions--activation-category-wrapper,
.illandril-npc-quick-actions--spell-sub-category-wrapper {
  margin-top: 4px;
}

.illandril-npc-quick-actions--entry {
  cursor: pointer;
  opacity: 0.75;
  padding-left: 20px;
}

.illandril-npc-quick-actions--spell-sub-category-entries .illandril-npc-quick-actions--entry {
  padding-left: 30px;
}

.illandril-npc-quick-actions--activation-category-entries .illandril-npc-quick-actions--entry {
    padding-left: 30px;
}

.illandril-npc-quick-actions--activation-category-entries .illandril-npc-quick-actions--spell-sub-category-entries .illandril-npc-quick-actions--entry {
    padding-left: 40px;
}

.illandril-npc-quick-actions--entry:hover {
  opacity: 1;
}

.illandril-npc-quick-actions--no-actions {
  opacity: 0.65;
}